# Environment
.env
*.log
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Build artifacts
build/
dist/
*.app/
*.egg-info/

# macOS
.DS_Store
*.swp
*~

# IDE
.idea/
.vscode/
*.sublime-*
